<!-- IMPORTAÇÃO DO HEADER -->
<%- include('../partials/header') %>

    <!-- IMPORTAÇÃO DO MENU -->
    <div class="container-fluid">
        <%- include('../partials/menu') %>
    </div>

    <div class="card">
        <div class="card-header">EDITAR MARCA</div>
    </div>

    <!-- <%= marca.data.nome_marca %>
    <%= marca.data.cod_marca %> -->

    <div class="card mt-2 p-1">

        <form action="/editarMarca" method="post">

            <label for="nome_marca"></label>

            <div class="mb-3">
                <input class="form-control" type="text" name="nome_marca" id="nome_marca" value="<%= marca.data.nome_marca %>" />
            </div>

            <input type="hidden" name="cod_marca" value="<%= marca.data.cod_marca %>">

            <button class="btn btn-success mt-2">EDITAR</button>

        </form>

    </div>

    </div>