<!-- IMPORTAÇÃO DO HEADER -->
<%- include('../partials/header') %>

    <!-- IMPORTAÇÃO DO MENU -->
    <div class="container-fluid">
        <%- include('../partials/menu') %>
    </div>

    <div class="card">
        <div class="card-header">LISTAGEM DE FORNECEDORES</div>
    </div>

    <% fornecedores.data.forEach(fornecedor=>{ %>

        <div class="card mt-2 p-1">

            <div class="card-body">
                <%= fornecedor.nome_fornecedor %>
            </div>

            <div class="btn-group mr-2">
                <a href="/editarFornecedor/<%= fornecedor.cod_fornecedor %>" class="btn btn-warning">EDITAR</a>
                <a href="/excluirFornecedor/<%= fornecedor.cod_fornecedor %>" class="btn btn-danger">EXCLUIR</a>
            </div>

        </div>

        <% }) %>

            <!-- IMPORTAÇÃO DO FOOTER -->
            <%- include('../partials/footer') %>